/*GLOBAL*/
body {
	
	color:#419EED;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p {
	margin: 5px 0;
	line-height: 25px;
}

a {
	text-decoration: none;
	color: inherit;
	list-style: none;
}

a:hover {
	color:#847E7E;
}
.clear {
	clear: both;
}
hr {
	width: 77%;
}

/*HEADER*/
#header {
	background: #EBE8DE;
	border-top: 5px solid #e56038;
	position: relative;
	width: auto;
	max-width: 960px;
	margin: 0 auto 1px auto;
	display: block;
	
}

#header img {
	margin: 20px 0 20px 110px;

}

/*MAIN*/
#ava {
	background-color:linen;
	max-width: 960px;
	width: auto;
	height: 250px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	border-radius: 10px 10px 0 0;

}

#ava img {
	position: relative;
	top: 40px;
	left: -270px;
	width: 200px;
	height: 159px;
	border-radius: 50%;
	border: 3px solid #fff;
}

#ava h2 {
	line-height: 25px;
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: absolute;
	left: 596px;
	top: 204px;
	color: #333;
}

#ava p {
	position: absolute;
	font-size: 18px;
	line-height: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	top:251px;
	left: 596px;
	color: #333;

	
}
#ava .mssv{
	position: absolute;
	font-size: 18px;
	line-height: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	top: 288px;
	left: 596px;
	color: #333;

	
}

#ava .p2 {
	position: absolute;
	font-size: 15px;
	line-height: 25px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-align: center;
	top:369px;
	left: 595px;
	color:#419EED;
	
}

#main {
	max-width: 960px;
	width: auto;
	margin: 0 auto;
	background: linen;
	position: relative;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#333;
	font-size: 18px;

}

#main h2 {
	margin: 0 auto 40px auto;
	position: relative;
	top: 20px;
	left: 30%;
	text-align: center;
	line-height: 25px;
	padding: 15px;
	color: #3690DD;
	font-size: 24px;
	background-color: #16708a;
	color:#FFF000;
	display: inline-block;

	
}

.two_columns{
	width: auto;
	height: auto;
	
 }
#main .two_columns .gmail, .facebook {
	margin: 25px auto 25px auto;
}

#main .two_columns .gmail img {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 29px;

}

#main .two_columns .gmail a {
	margin-top: 11px;
	width: auto;
	position: absolute;
	left: 50%; 
	margin-left: -395px; 
}

#main .two_columns .facebook img {
	width: 50px;
	height: 50px;
	float: left;
	margin-left: 446px;

}

#main .two_columns .facebook a {
	margin-top: 15px;
	width: auto;
	position: absolute;
	right: 50%;
	margin-right: -425px;

}

caption {
	margin-bottom: 25px;
	color: #3690DD;
	font-size: 20px;
	font-weight: bold;
	
}

table {
	margin: 75px auto;
	line-height: 25px;
	padding: 10px;
	border-collapse: collapse;

}

th, td {
	border: 2px solid #E57B2D;
	padding: 10px;
}

#listfriend ul, li, a {
	text-decoration: none;
	list-style: none;
	display: list-item;
	font-size: 1em;
	color:#16708a;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	
}

#listfriend h2 {
	font-size: 1.2em;
	margin-bottom: 5px;
	margin-right: 50px;
	margin-left: 100px;
	line-height: 25px;
	color: #FFF000;
	background-color: #16708a;
	display:inline-block;
	padding: 5px 15px;
	text-align: left;

	
}

@media only screen and (max-width : 480px) 
{
	body{
		width: auto;
		margin: 0;
		padding: 0;
		position: relative;
	}
	#header {
		width: auto;
	}
	#ava {
		width: auto;
		
	}
	* {
		box-sizing: border-box;
	}
}